.footer {
    display: flex;
    margin-top: auto;
    padding: 150px 30px 150px;
    width: 100%;
    background: #F0F0F0;
    color: $light-gray-color;
    a:hover {
        color: #003067;
    }
    &__header {
        margin-top: 90px;
        margin-bottom: 90px;
    }
    &__phones,
    &__mail {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: $light-gray-color;
    }
    &__mail {
        margin-top: 65px;
        margin-bottom: 130px;
    }
}