.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2100;
    &__wrap {
        position: relative;
        z-index: 30;
        display: flex;
        align-items: center;
        height: 43px;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        flex: 1 1 15%;
        display: block;
        width: 140px;
        height: 19px;
        transition: $duration-normal;
        svg {
            margin-left: 60px;
            width: auto;
        }
    }
    &__nav-container {
        display: flex;
        flex: 1 1 70%;
        justify-content: center;
        align-items: center;
        padding: 0 130px;
        height: 100%;
        .nav-container {
            flex: 1 1 100%;
            color: white;
            height: 100%;
            max-width: 665px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__link {
                white-space: nowrap;
                font-size: 20px;
                display: flex;
                height: 100%;
                align-items: center;
                transition: none;
                padding: 0;
                position: relative;
                z-index: 10;
            }
            &__item {
                flex: 0 0 auto;
                position: relative;
                height: 100%;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    .nav-sublist {
                        top: calc(100% + .5px);
                        opacity: 1;
                    }
                    .nav-container__link {
                        font-weight: 500;
                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                }
                .nav-sublist {
                    position: absolute;
                    left: calc(0% - (90px / 2));
                    top: -99999px;
                    width: 27vw;
                    background: rgba(255, 255, 255, 0.95);
                    padding: 15px 20px 15px 10px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 24px;
                    color: #999999;
                    border: 1px solid #E5E5E5;
                    opacity: 0;
                    transition: opacity .5s;
                    &__link {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        &:hover {
                            color: #003067;
                            .nav-sublist__span {
                                border-left: 1px solid #003067;
                            }
                        }
                    }
                    &__img {
                        flex: 1 1 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-height: 100px;
                    }
                    &__span {
                        display: flex;
                        min-height: 60px;
                        flex: 1 1 70%;
                        border-left: 1px solid gray;
                        padding-left: 18px;
                        justify-content: flex-start;
                        align-items: center;
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -25%;
                    width: 150%;
                    height: 103%;
                    cursor: pointer;
                }
            }
        }
    }
    &__language {
        flex: 1 1 0;
        overflow: visible;
        position: relative;
        z-index: 5;
        .select-lang {
            position: absolute;
            height: 43px;
            width: 100px;
            top: -21px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                .select-lang__list {
                    top: 100%;
                    opacity: 1;
                }
                .select-lang__name {
                    font-weight: 500;
                }
                .select-lang__name:after {
                    transform: rotate(90deg);
                }
            }
            &__name {
                cursor: pointer;
                position: relative;
                left: -17px;
                &:after {
                    content: "";
                    position: absolute;
                    right: -35px;
                    top: 0;
                    width: 30px;
                    height: 1em;
                    background: url(../images/lang-arrow.svg) no-repeat center center transparent;
                    transition: 300ms all;
                }
            }
            &__list {
                position: absolute;
                top: -99999px;
                opacity: 0;
                color: #003067;
                background-color: #E5E5E5;
                padding: 10px;
                transition: 300ms opacity;
            }
            &__item {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 34px;
                &:hover {
                    font-weight: 500;
                }
            }
            &__item_active {
                font-weight: 500;
            }
        }
    }
    &__pen {
        flex: 1 1 15%;
        position: relative;
        &-img {
            position: absolute;
            top: 3px;
            right: 41.5px;
            width: 81px;
            height: 81px;
            border-radius: 50%;
            border: 1px solid #002754;
            background-color: #002754;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../images/menu_pen.svg) no-repeat center center/35px transparent;
                transition: 300ms all;
            }
            &:hover:after {
                transform: scale(1.1);
            }
        }
        &-ver {
            flex: 0 0 0;
            &-trigger {
                position: absolute;
                top: calc(100vh - 50vh);
                right: 20px;
                width: 170px;
                height: 57px;
                border-radius: unset;
                border: 3px solid #003067;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: white;
                .btn-change {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    flex: 1 1 50%;
                    &:hover {
                        background-color: #f3f3f3;
                    }
                    &.active {
                        background: #003067;
                        color: white;
                    }
                }
            }
        }
    }
    &__menu {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 98;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        overflow-y: auto;
        margin: 0;
        margin-top: 84px;
        padding: 0 20px;
        width: 100vw;
        height: 100vh;
        // stylelint-disable-next-line
        height: calc(var(--vh) - 84px);
        color: $color-black;
        background-color: rgba($color-black, 0.1);
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: $duration-normal;
        -webkit-overflow-scrolling: touch;
        @include active {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
    }
    &__list {
        width: 100%;
        text-align: center;
    }
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0 auto;
        padding: 10px 30px;
        min-height: 85px;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        color: rgba($color-black, 0.7);
        background-color: $color-white;
        &:not(:last-child) {
            border-bottom: 1px solid $color-gray;
        }
        &:first-child {
            border-top: 1px solid $color-gray;
        }
        @include hover {
            color: $color-black;
        }
        @include active {
            color: $color-black;
        }
    }
    &__burger {
        z-index: 100;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 50px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: url("../images/header-plawka5.svg") bottom right no-repeat;
    }
    // &:after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: 130px;
    //     height: 100%;
    //     width: 100%;
    //     background-color: #002754;
    //     border-bottom: 1px solid #002754;
    // }
}

.mm-spn.mm-spn--navbar::after {
    content: none;
}

.mm-spn li::after {
    display: none;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 25px;
    height: 2px;
    background-color: white;
}

.hamburger-inner::before {
    top: -7px;
}

.hamburger-inner::after {
    bottom: -7px;
}

.mm-spn {
    position: relative;
}

.header__link:first-child,
.mm-spn.mm-spn--navbar ul::before {
    border-top: 0px solid;
}

.mm-spn.mm-spn--light {
    background: #F0F0F0;
}

.mm-spn .mmenu-close {
    top: 52px;
    border: 2.35862px solid #B3B3B3;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
        stroke: #B3B3B3;
        width: 47%;
        height: 47%;
    }
}

.mm-spn.mm-spn--navbar ul {
    top: 115px;
}

.mm-spn a.header__mmlink {
    text-align: left;
    font-size: 20px;
    line-height: 1.1em;
    color: #003067;
    &.active {
        background-color: #E5E5E5;
    }
}

.hamburger {
    width: 25px;
}