footer.footer#contacts.col.text-center(data-aos="flip-down" data-aos-anchor-placement="top-bottom")
    h2.footer__header.lang(translate="contact") Контакты 
    
    a(href="tel: +78122470464").lang-eng-content.footer__phones +7 (812) 247-04-64
    a(href="mailto:export@perco.com").lang-eng-content.footer__mail export@perco.com 

    a(href="tel: +78003335253").lang-ru-content.footer__phones 8 800 333 52 53
    a(href="tel: +78122470457").lang-ru-content.footer__phones +7 (812) 247 0457
    a(href="mailto:mail@perco.ru").lang-ru-content.footer__mail mail@perco.ru 

    #data-actual-year.hide(data-actual-year)
