footer.footer#contacts.col.text-center(data-aos="flip-down" data-aos-anchor-placement="top-bottom")
    h2.footer__header.lang(translate="contact") Контакты
    
    if (curr_lang == 'sg')
        a(href="tel: +6565183033").lang-sg-content.footer__phones (65) 6518 3033
        a(href="mailto:sales@reddot-engineering.com.sg").lang-sg-content.footer__mail sales@reddot-engineering.com.sg 
    if (curr_lang == 'en') 
        a(href="tel: +971553773539").lang-eng-content.footer__phones +971 55 377 3539
        a(href="mailto:info@perco.ae").lang-eng-content.footer__mail info@perco.ae
        //- a(href="tel: +78122470464").lang-eng-content.footer__phones +7 (812) 247-04-64
        //- a(href="mailto:export@perco.com").lang-eng-content.footer__mail export@perco.com
    if (curr_lang == 'ru')
        a(href="tel: +78003335253").lang-ru-content.footer__phones 8 800 333 52 53
        a(href="tel: +78122470457").lang-ru-content.footer__phones +7 (812) 247 0457
        a(href="mailto:mail@perco.ru").lang-ru-content.footer__mail mail@perco.ru
    if (curr_lang == 'fr')
        a(href="tel: +330635277113").lang-fr-content.footer__phones +33 (0)6 35 27 71 13
        a(href="mailto:je.lange@wanadoo.fr").lang-fr-content.footer__mail je.lange@wanadoo.fr
    if (curr_lang == "ng")
        a(href="tel: +2348035673696").lang-fr-content.footer__phones +234 803 567 3696
        a(href="mailto:neat@neatlimited.com").lang-fr-content.footer__mail neat@neatlimited.com

    #data-actual-year.hide(data-actual-year)
