footer.footer#contacts.col.text-center(data-aos="flip-down" data-aos-anchor-placement="top-bottom")
    h2.footer__header Контакты
    a(href="tel: +78003335253").footer__phones 8 800 333 52 53
    a(href="tel: +78122470457").footer__phones +7 (812) 247 0457
    a(href="mailto:mail@perco.ru").footer__mail mail@perco.ru 
