-
	const data = {
		header: {
			links: {
				logo: '#main',
				writeus: '#write-us'
			},
			menu: [
				{
					url: '#advantages',
					name: 'Преимущества'
				},
				{
					url: '#products',
					name: 'Продукция',
					sublist: [
						{
							slideto: '1',
							url: '#prod-section-0',
							img: 'images/nav-prod-thumb1-min.png',
							name: 'Универсальный скоростной проход с распашными створками'
						},
						{
							slideto: '2',
							url: '#prod-section-1',
							img: 'images/nav-prod-thumb2-min.png',
							name: 'Компактный скоростной проход с распашными створками'
						},
						{
							slideto: '3',
							url: '#prod-section-2',
							img: 'images/nav-prod-thumb3-min.png',
							name: 'Скоростной проход с раздвижными створками'
						},
						{
							slideto: '4',
							url: '#prod-section-3',
							img: 'images/nav-prod-thumb4-min.png',
							name: 'Калитка и ограждение'
						},
					]
				},
				{
					url: '#gallery',
					name: 'Фотогалерея'
				},
				{
					url: '#about',
					name: 'О компании'
				}
			],
			mmenu: [
				{
					url: '#advantages',
					name: 'Преимущества'
				},
				{
					url: '#products',
					name: 'Продукция', 
				},
				{
					url: '#gallery',
					name: 'Фотогалерея'
				},
				{
					url: '#about',
					name: 'О компании'
				},
				{
					url: '#write-us',
					name: 'Обратная связь'
				},
				{
					url: '#contacts',
					name: 'Контакты'
				}
			] 
		}, 
		
		home: {
			advanages: {
				icons: [
					{
						svg: 'icon-adv-1',
						text: 'Бесконтактность',
						delay: '300'
					}, 
					
					{
						svg: 'icon-adv-2',
						text: 'Безопасность прохода с детьми',
						delay: '500'
					}, 
					
					{
						svg: 'icon-adv-3',
						text: 'Проезд маломобильных групп населения',
						delay: '700'
					}, 
					
					{
						svg: 'icon-adv-4',
						text: 'Безопасность в аварийной ситуации',
						delay: '900'
					}, 
					
					{
						svg: 'icon-adv-5',
						text: 'Комфортный провоз багажа',
						delay: '1100'
					}, 
					
					{
						svg: 'icon-adv-6',
						text: '5 лет гарантии',
						delay: '1300'
					}, 
				]
			},
			characteristics: {
				icons: [
					{
						tag: 'char-1',
						svg: 'icon-char-1',
						bg: 'images/icon-char-1.svg',
						delay: '2200',
						text: 'напряжение питания'
					}, 
					
					{
						tag: 'char-2',
						svg: 'icon-char-2',
						bg: 'images/icon-char-2.v2.svg',
						delay: '2300',
						text: 'аварийный выход'
					},  
					
					{
						tag: 'char-4',
						svg: 'icon-char-4',
						bg: 'images/icon-char-4.v3.svg',
						delay: '2400',
						text: 'человек в минуту'
					}, 
					
					{
						tag: 'char-4_1',
						svg: 'icon-char-4_1',
						bg: 'images/icon-char-4_1.svg',
						delay: '2400',
						text: 'человек в минуту'
					}, 
					
					{
						tag: 'char-5',
						svg: 'icon-char-5',
						bg: 'images/icon-char-5.v3.svg',
						delay: '2500',
						text: 'диапазон температур'
					}, 

					{
						tag: 'char-6',
						svg: 'icon-char-6',
						bg: 'images/icon-char-6.v3.svg',
						delay: '2600',
						text: 'степень защиты'
					}, 
					 
				]
			},
			about: {
				icons: [
					{
						svg: 'icon-about-1',
						text: '33 года работы на рынке',
						delay: '300',
						offset: '0'
					}, 
					
					{
						svg: 'icon-about-2',
						text: 'Разветвленная дилерская сеть, сервисные центры во всех регионах России',
						delay: '700',
						offset: '0'
					}, 
					
					{
						svg: 'icon-about-3',
						text: 'Продажи в 92 странах мира',
						delay: '1100',
						offset: '0'
					}, 
					
					{
						svg: 'icon-about-4',
						text: 'Склады готовой продукции в Москве, Санкт‑Петербурге, Пскове и ЕС',
						delay: '1500',
						offset: '0'
					}, 
					
					{
						svg: 'icon-about-5',
						text: '5-летний гарантийный срок на оборудование',
						delay: '1900',
						offset: '0'
					}, 
					
					{
						svg: 'icon-about-6',
						text: 'Техническая поддержка и бесплатное обучение в Учебном центре',
						delay: '2300',
						offset: '0'
					}, 
				]
			},
			share: {
				caption: 'Поделиться:',
				list: ['fb', 'tw', 'vk', 'ok'],
			},
			soc: {
				icons: [
					{
						svg: 'icon-soc-1',
						bg: 'images/icons/soc-1-dribbble.svg',
						link: 'https://www.perco.ru/'
					},
					{
						svg: 'icon-soc-2',
						bg: 'images/icons/soc-2-insta.svg',
						link: 'https://www.instagram.com/perco_com/'
					},
					{
						svg: 'icon-soc-3',
						bg: 'images/icons/soc-3-yt.svg',
						link: 'https://www.youtube.com/channel/UChZJeHXWSHQuRvXokuGPBFw'
					},
					{
						svg: 'icon-soc-4',
						bg: 'images/icons/soc-4-dzen.svg',
						link: 'https://zen.yandex.ru/id/5dd3ece3f5a25e6c5ca78bf8'
					},  
					{
						svg: 'icon-soc-5',
						bg: 'images/icons/soc-5-telegram.svg',
						link: 'https://t.me/perco_com'
					},  
				]
			},
			ytLink: {
				st01: 'https://www.youtube.com/watch?v=eNX-OC2NxtU',  
				st11: 'https://www.youtube.com/watch?v=1Ap-dv-lEQY',
				st02: 'https://www.youtube.com/watch?v=EMKkVgHqSKw',
				wmd06_bh06: 'https://www.youtube.com/watch?v=iOHLL3jilwA', 
			}
		}, 
		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
