//- Скоростной проход ST‑01
.ver1.video0#prod-section-0
    .container
        .row 
            .js-video-main-wrap.push-2.cell-8.post-2.push-0-md.cell-12-md.post-0-md
                .header-demo.flex-between.flex-middle
                    .reserve-height 
                        span.lang(translate="st-01_speed_gate") Скоростной проход ST‑01 
                        h2.header-demo__text.text-pinned.lang#js-dynamic-prod1(translate="st-01_speed_gate")
                    .video-btn__wrap.hide-md
                        a.btn.header-demo__video-btn.lang(data-fancybox-plyr data-src=data.home.ytLink.st01 mainClass="full-vid" translate="watch_video") смотреть видео 
                .swiper-container.slider-demonstration.js-sliderdemo-0
                    .poster-custom
                    .swiper-wrapper
                        .swiper-slide(data-ended="0")
                            .video-el__wrap 
                                +lazyVideo({ 
                                    poster: 'images/video-posters/586/poster0_0-min.v1.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/st01/586x330/1.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-0_0(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/st01/586x330/webm/1.webm") ссылкой 
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="overview") Ракурсы 
                        .swiper-slide(data-ended="0") 
                            .video-el__wrap 
                                +lazyVideo({ 
                                    poster: '/images/video-posters/586/poster0_1-min.v2.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/st01/586x330/2.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-0_1(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/st01/586x330/webm/2.webm") ссылкой 
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="access") Доступ
                        .swiper-slide(data-ended="0") 
                            .video-el__wrap 
                                +lazyVideo({ 
                                    poster: '/images/video-posters/586/poster0_2-min.v2.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/st01/586x330/6.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-0_2(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/st01/586x330/webm/6.webm") ссылкой 
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="dimensions") Габариты
                        .swiper-slide(data-ended="0") 
                            .video-el__wrap 
                                +lazyVideo({ 
                                    poster: '/images/video-posters/586/poster0_4-min.v2.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/st01/586x330/4.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-0_3(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/st01/586x330/webm/4.webm") ссылкой 
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="safety") Безопасность
                        .swiper-slide(data-ended="0") 
                            .video-el__wrap 
                                +lazyVideo({ 
                                    poster: '/images/video-posters/586/poster0_5-min.v2.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/st01/586x330/5.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-0_4(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/st01/586x330/webm/5.webm") ссылкой 
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="design") Исполнение
                        .swiper-slide(data-ended="0") 
                            .video-el__wrap 
                                +lazyVideo({ 
                                    poster: '/images/video-posters/586/poster0_3-min.v2.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/st01/586x330/3.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-0_5(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/st01/586x330/webm/3.webm") ссылкой 
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="integration") Интеграция
                .swiper-pagination
        .row 
            .video-btn__wrap.video-btn__wrap_bottom.cell-12.hide.show-flex-md
                a.btn.header-demo__video-btn.lang(data-fancybox-plyr data-src=data.home.ytLink.st01 mainClass="full-vid" translate="watch_video") смотреть видео 