//- Калитка и Ограждение  wmd06 bh06
.ver1.video3#prod-section-3 
    .container
        .row 
            .js-video-main-wrap.push-2.cell-8.post-2.push-0-md.cell-12-md.post-0-md
                .header-demo.flex-between.flex-middle(data-aos="fade-in" data-aos-anchor-placement="top-bottom")
                    .reserve-height  
                        span.lang(translate="wmd-06_swing_gate") Калитка WMD‑06, ограждение ВН06
                        h2.header-demo__text.text-pinned.lang(translate="wmd-06_swing_gate") Калитка WMD‑06, ограждение ВН06
                    .video-btn__wrap.hide-md
                        a.btn.header-demo__video-btn.lang(data-fancybox-plyr data-src=data.home.ytLink.wmd06_bh06 mainClass="full-vid" translate="watch_video") смотреть видео 
                .swiper-container.slider-demonstration.js-sliderdemo-3.test(data-aos="fade-in" data-aos-anchor-placement="top-bottom")
                    .poster-custom
                    .swiper-wrapper 
                        .swiper-slide(data-ended="0") 
                            .video-el__wrap 
                                +lazyVideo({
                                    poster: '/images/video-posters/586/poster3_0-min.v2.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/wmd06_bh06/586x330/1.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-3_0(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/wmd06_bh06/586x330/webm/1.webm") ссылкой
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="overview") Ракурсы
                        .swiper-slide(data-ended="0") 
                            .video-el__wrap 
                                +lazyVideo({
                                    poster: '/images/video-posters/586/poster3_1-min.v2.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/wmd06_bh06/586x330/2.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-3_1(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/wmd06_bh06/586x330/webm/2.webm") ссылкой 
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="access") Доступ
                        .swiper-slide(data-ended="0")  
                            .video-el__wrap 
                                +lazyVideo({ 
                                    poster: '/images/video-posters/586/poster3_2-min.v2.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/wmd06_bh06/586x330/3.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-3_2(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/wmd06_bh06/586x330/webm/3.webm") ссылкой 
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="dimensions") Габариты
                        .swiper-slide(data-ended="0") 
                            .video-el__wrap 
                                +lazyVideo({
                                    poster: '/images/video-posters/586/poster3_3-min.v2.jpg',
                                    source: [ 
                                            {
                                                srcset: `video/wmd06_bh06/586x330/4.mp4`,
                                                type: 'video/mp4',
                                            },
                                        ]
                                }).video-el.is-loading#index-3_3(muted, preload="none", playsinline)
                                    | Ваш браузер не поддерживает HTML5, для просмотра видео воспользуйтесь 
                                    a(href="video/wmd06_bh06/586x330/webm/4.webm") ссылкой 
                                .loader-spin
                            a.play-button__link
                                .play-button
                            .videoname.lang.hide(translate="design") Исполнение
                .swiper-pagination
        .row 
            .video-btn__wrap.video-btn__wrap_bottom.cell-12.hide.show-flex-md
                a.btn.header-demo__video-btn.lang(data-fancybox-plyr data-src=data.home.ytLink.wmd06_bh06 mainClass="full-vid" translate="watch_video") смотреть видео 