.btn.js-cube-next
    svg(width="73" height="73" viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M35.8909 36.8909L35.8909 5.24264C35.8909 4.35174 36.968 3.90556 37.598 4.53553L69.2462 36.1838C69.6367 36.5743 69.6367 37.2075 69.2462 37.598L37.598 69.2462C36.968 69.8762 35.8909 69.43 35.8909 68.5391L35.8909 36.8909Z" stroke="#003067" stroke-width="4")