extends pug/base

prepend vars
	- title = 'Скоростные проходы PERCo'
	- curr_lang = 'en'

append vars 
	- meta.keywords = ['скоростные проходы', 'турникет скоростной проход', 'скоростной проход perco',  'скоростной проход perco st 01', 'турникет скоростной проход st 01', 'perco st 01 турникет скоростной проход', 'скоростной проход st 01 со встроенным картоприемником', 'скоростной проход st 11 +с распашными с распашными створками', 'турникеты с раздвижными створками', 'бесконтактный турникет', 'турникет', 'купить турникет' ]
	- description = 'Скоростные проходы PERCo обеспечивают комфортный бесконтактный проход и высокую пропускную способность. Исполнение из нержавеющей стали и стекладелает скоростные проходы оптимальным решением для проходных с высокими требованиями к дизайну.  Гарантия - 5 лет.'
	- meta.viewport = 'width=device-width, initial-scale=1' 
	- link.icon = 'images/favicon.ico'

block content
	include pug/data

	.site#page
		include pug/components/header

		include pug/pages/home 
 
		include pug/components/footer

		script(async src="https://www.google.com/recaptcha/api.js?hl="+curr_lang) 
		if (curr_lang = 'ru')
			include pug/components/analytics



			if en 

			<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(87539534, "init", {
        clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87539534" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
			<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-662209-28"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-662209-28');
</script>
